[defaults]
inventory = inventory/hosts.ini
roles_path = ./.roles:~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles
collections_path = ./.collections:~/.ansible/collections:/usr/share/ansible/collections
interpreter_python = auto_silent
host_key_checking = True
retry_files_enabled = False
stdout_callback = default
bin_ansible_callbacks = True

[ssh_connection]
pipelining = True
